
body {
  background:linear-gradient(to right, #ff6ec4, #7873f5);
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 400px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}


label {
  font-weight: 600;
  color: #333;
}


.form-control {
  border-radius: 10px;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.3);
  border-color: #007bff;
}


.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}


.btn {
  background: linear-gradient(to right, #ff6ec4, #7873f5);
  border: none;
  font-weight: bold;
  border-radius: 10px;
 
}


#output {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #343a40;
  border: 2px solid #0072ff;
  border-radius: 10px;
}
